<div class="gracias">
  <p>¡Gracias por contactarnos!</p>
  <h1>Chequea tu email para más información.</h1>
</div>

<div id="facebook-box" class="box">
   <h3>¡Participa y gana!</h3>
   <p>Todos los meses regalamos un bolsito GRATIS. Al compartir nuestro site, ya estas compitiendo.</p>
   <iframe src="http://www.facebook.com/widgets/like.php?href=http://bolsitosdecolores.com" scrolling="no" frameborder="0" style="border:none; width:325px;  height:80px"></iframe>
 </div>
