<div id="header">
  <div id="logo">
    <h1><a href="/" alt="Bolsitos de Colores">Bolsitod de Colores</a></h1>
  </div>
  <h2>Un mensaje aqui</h2>
  <div id="social">
    <a href="http://twitter.com/" id="twitter" target="_blank">Twitter</a>
    <a href="" id="facebook" target="_blank">Facebook</a>
  </div>
  <div id="buttons">
    <a href="/mayorista" class="button">Link 1</a>
  </div>
</div>
<div class="clear"></div>
