<div class="izquierda">

  <div class="imagenes1">
      <a href="/compra">
        <img src="/images/photos1.jpg" alt="Bolsitos" class="active"/>
      </a>
  </div>
  <div class="clear"></div>
  <div class="colores">
      <a href="/compra"><img src="images/colores.jpg"/></a>
  </div>
  <div class="clear"></div>
  <div class="facebooklike">
    <h2>¡Comparte nuestro site en Facebook!</h2>
	  <iframe src="http://www.facebook.com/widgets/like.php?href=http://bolsitosdecolores.com" scrolling="no" frameborder="0" style="border:none; width:500px; 	height:80px"></iframe>
  </div>
  <div class="clear"></div>
  <div class="imagenes2">
      <a href="/compra">
        <img src="/images/photos2.jpg" alt="Bolsitos" class="active"/>
      </a>
  </div>
  <div class="clear"></div>
</div>

<div class="derecha">
  <%= partial :form_home%>
  <a href="/empleo">
  <div class="imagenes_derecha">
	  <img src="/images/photos_right.jpg"/>
  </div>
  </a>
</div>



