<div class="izquierda">

  <div class="imagenes1">
      <a href="/compra">
        <img src="/images/mayorista.jpg" alt="Bolsitos" class="active"/>
      </a>
  </div>
  
</div>

<div id="sidebar">
  <h2>¿Tienes una tienda y quieres vender los bolsitos de colores?</h2>
  <p>Tenemos excelentes precios al mayor, envianos un email a <a href="mailto:bellatrix@bolsitosdecolores.com">bellatrix@bolsitosdecolores.com</a> y te responderemos con nuestra lista de precios.</p>
  </div>